<div class = 'row form'>
    <div class = 'col-md-4 offset-md-4'>    
        <div>
            <%= form_tag login_path do %>
            
                <div class>
                    <%= label_tag 'Email' %> <br />
                    <%= email_field_tag :email, nil , class: 'text-input' %>
                </div>
                
                <div class>
                    <%= label_tag 'Password' %><br />
                    <%= password_field_tag :password, nil , class: 'text-input' %>
                </div>
                
                <div class = 'actions'>
                    <%= submit_tag :Submit, class: 'button' %>
                </div>
            <% end %>
        </div>
        
        <div>
            <%= button_to 'Sign Up', '/signup',method: 'get', class: 'link' %>
        </div>
    </div>
</div>