<%= form_tag login_path do %>

    <div class>
        <%= label_tag 'Email' %>
        <%= email_field_tag :email %>
    </div>
    
    <div class>
        <%= label_tag 'Password' %>
        <%= password_field_tag :password %>
    </div>
    
    <div class = 'actions'>
        <%= submit_tag :Submit %>
    </div>
<% end %>
