<div class = 'row row1'>
    <div class = 'col-md-4'>
        <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class = 'col-md-7 offset-md-5'>
        <h2>Your Images</h2>
        <table class = 'image-table'>
            <tr>
                <td>Image</td>
                <td>Description</td>
            </tr>
            <% for id in @user_pictures %>
                <tr>
                    <td>
                        <%= image_tag Location.find(id).image(:thumb) %>
                    </td>
                    <td>
                        <%= "#{Location.find(id).title}" %><br><br><%="#{Location.find(id).description}" %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<div class = 'row row1'>
    <div class = 'col-md-4'>
        <%= image_tag @user.profile_pic.url(:profile) %>
    </div>
</div>

<div class = 'row row1'>
    <div class = 'col-md-4 image'>
        <table>
        <tr>
            <th> First Name </th>
            <td> <%= @user.first_name %></td>
        </tr>
        <tr>
            <th> Last Name </th>
            <td> <%= @user.last_name %> </td>
        </tr>
        <tr>
            <th> Email </th>
            <td> <%= @user.email %></td>
        </tr>
    </table>
    </div>
</div>
